@font-face {
  font-family: "Myanmar-Khyay";
  src: url("./assets/font/Myanmar-Khyay.ttf.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #545454;
}

.title {
  margin-left: 520px;
}

#transaction_title {
  font-family: "Myanmar-Khyay";
  color: white;
  font-size: 30px;
}

#monthForm {
  margin-left: 240px;
  width: 150px;
  font-family: "Myanmar-Khyay";
  margin-top: -30px;
}

.accountForm {
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center; /* 수평 가운데 정렬 */
  background-color: #333333;
  width: 700px;
  padding-top: 150px;
  padding-bottom: 150px;
  margin-top: 30px;
  border-radius: 15px;
}

.category_result {
  width: 600px;
  margin-left: 300px;
}

.content {
  width: 550px;
  margin-left: 400px;
}
