body{
    background-color: #545454;
}

.delete{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center; /* 수평 가운데 정렬 */
    background-color: #333333;
    width: 1000px;
    height: 400px;
    padding-top: 150px;
    margin-top: 30px;
    border-radius: 15px;
}

.btn{
    margin-top: 40px;
    background-color: #3660FA;
    width: 200px;
    height: 30px;
    border: 0;
    color: white;
}

